*.DS_Store
*.sqlite

flask_bootcamp/sql_databases_with_flask/flask_and_databases/__pycache__
flask_bootcamp/sql_databases_with_flask/flask_migrate/__pycache__
flask_bootcamp/sql_databases_with_flask/flask_migrate/migrations
flask_bootcamp/sql_databases_with_flask/flask_relationships/__pycache__
flask_bootcamp/sql_databases_with_flask/flask_relationships/migrations
flask_bootcamp/sql_databases_with_flask/databases_in_views/__pycache__
flask_bootcamp/sql_databases_with_flask/databases_in_views/migrations
flask_bootcamp/sql_databases_with_flask/database_project/__pycache__
flask_bootcamp/sql_databases_with_flask/database_project/migrations

flask_bootcamp/larger_flask_applications/__pycache__
flask_bootcamp/larger_flask_applications/myproject/__pycache__
flask_bootcamp/larger_flask_applications/myproject/owners/__pycache__
flask_bootcamp/larger_flask_applications/myproject/puppies/__pycache__
flask_bootcamp/larger_flask_applications/migrations